#search-div{
    border: 2px solid black;
    padding: 20px;
}
#results-div{
    border: 2px solid #555555;
}
.uv-low{
    color: #ffffff;
    background-color: rgb(19, 245, 11);
}
.uv-moderate{
    background-color: yellow;
}
.uv-high{
    color: #ffffff;
    background-color: orange;
}
.uv-very-high{
    color: #ffffff;
    background-color: red;
}
.uv-extreme{
    color: #ffffff;
    background-color: violet;;
}
#uv{
    border: 2px solid black;
    border-radius: 20%;
}
.card-body{
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 2px;
}
.container{
    display: flex;
    flex-direction: row;
}